.help-header {
  padding-top: 10px;
  text-align: center;
}

.help-button {
  font-family: 'Tomorrow', sans-serif;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #ff4444, #cc3333);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.help-button:hover {
  background-color: #005A9E;
}

#help-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  width: 100%;
}

/* Left column buttons */
#help-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 240px; /* keeps them aligned in a column */
}

/* Text content on the right */
#info-box {
  flex: 1;
  padding: 20px;
  text-align: center;
 background: linear-gradient(45deg,#f7e135,#cc8800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.help-info {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.6;
}


hr {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 50px;
  top: 75vh;

  border: none; /* remove default grey line */
  height: 4px; /* thickness */
  background: linear-gradient(45deg,#f7e135,#cc8800);
}
